.session-container {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 15px #a2a2a2;
  background-color: #fff;
}

.session-banner {
  background-image: url("/img/login-background.png");
  width: 260px;
  height: 360px;
  color: white;
  position: relative;
}

.session-banner div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.session-banner p {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 35px;
  padding: 0 10px;
}

.session-banner a {
  font-family: Raleway;
  font-size: 13px !important;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 13px 40px;
  text-decoration: none;
  color: white;
}

.session-banner a:hover {
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
}

.form-container {
  width: 340px;
  height: 360px;
  position: relative;
}

.form-content {
  background-color: white;
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-content p {
  color: rgb(0, 170, 144);
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  font-family: Raleway;
  padding-bottom: 5px;
}

.form-content input {
  background-color: rgb(237, 237, 237);
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
  border: 0px;
  margin-top: 2px;
  width: calc(100% - 45px);
  float: right;
}

.form-content input:focus {
  outline: none;
}

.input-container {
  background-color: rgb(237, 237, 237);
  padding: 10px 5px;
  margin: auto;
  margin-bottom: 20px;
  width: 80%;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  overflow: hidden;
}

.input-container img {
  width: 20px;
  margin-left: 10px;
  opacity: 0.8;
  float: left;
}

.form-content a {
  display: block;
  padding: 15px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
  color: black;
  margin-top: -10px;
}

.form-content a:hover {
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
}

.form-content button {
  border: 2px solid white;
  background-color: rgb(0, 170, 144);
  font-size: 12px;
  font-weight: 600;
  color: white;
  border-radius: 8px !important;
  padding: 10px 30px;
  min-width: 150px;
  margin: 2px;
  text-transform: uppercase;
  margin-top: 10px;
}

.form-content button:disabled,
.form-content button:disabled:hover {
  background: gray;
}

.form-content button:hover {
  background-color: rgb(0, 141, 120);
}

.form-content button:active {
  background-color: rgb(0, 184, 156);
}

.form-content button:focus {
  outline: none;
}

.form-content-error {
  padding-top: 40px !important;
}

.lbl-error {
  color: #f55566;
  font-size: 13px;
  margin-bottom: 20px;
}

.form-container.register {
  height: 450px !important;
}

.form-container.register input {
  width: calc(100% - 10px);
}

.session-banner.register {
  height: 450px !important;
  background-size: cover;
}

@media only screen and (max-width: 650px) {
  .session-container {
    display: block;
    overflow: visible;
    border-radius: 0px;
    box-shadow: none;
    margin-top: -70px !important;
  }

  .session-banner {
    display: none;
  }

  body {
    background: white !important;
  }

  .page {
    max-width: 100% !important;
    margin-top: 0px !important;
  }

  .form-content {
    width: 100%;
    height: 100%;
  }

  .form-content p {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .input-container {
    margin: auto;
    width: 70%;
    max-width: 350px;
    margin-bottom: 20px;
  }

  .form-content a {
    padding-top: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .form-content p {
    width: 100%;
  }
}

@media only screen and (max-width: 330px) {
  .form-content p {
    font-size: 16px;
  }

  .input-container input {
    font-size: 10px !important;
    margin-top: 4px !important;
  }

  .form-content a {
    font-size: 10px;
  }

  .form-content button {
    font-size: 10px;
    padding: 10px 45px;
  }
}
