* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

.page {
  margin: auto;
  margin-top: 135px;
  margin-bottom: 135px;
  width: 720px;
  max-width: 80%;
}

button,
.action-link-btn {
  background-color: white;
  color: #3a3a3a;
  border: 1px solid #888888;
  border-radius: 5px !important;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 14px !important;
  padding: 6px 10px;
}

button:hover,
.action-link-btn:hover {
  opacity: 0.8;
}

.btn-medium {
  min-width: 100px;
  padding: 7px 15px;
  font-size: 16px !important;
}

.btn-large {
  min-width: 150px;
  padding: 10px 18px;
  font-size: 18px !important;
}

.btn-confirm {
  background: #4eb44c !important;
  border-color: #558b53 !important;
  color: white !important;
}

.btn-danger {
  background: #ac3a3a !important;
  border-color: #842e2e !important;
  color: white !important;
}

.action-link-btn {
  float: right;
}

button a,
.action-link-btn,
button a:hover,
.action-link-btn:hover {
  text-decoration: none;
  color: inherit;
}

.page-header h1 {
  font-family: Raleway;
  font-weight: 400;
  font-size: 26px;
  margin-top: 80px;
  text-transform: uppercase;
}

.page-header h2 {
  font-family: Raleway;
  font-size: 20px;
  margin-top: 80px;
  text-transform: uppercase;
}

.page-header hr {
  background: "gray";
  margin-top: 10px !important;
}
