.task-popup {
  width: 480px;
  margin-top: 150px;
  padding: 20px 30px;
  padding-top: 15px;
}

.task-details .title {
  height: 20px;
  font-size: 14px;
}

.task-details .title img {
  float: right;
  width: 18px;
  opacity: 0.65;
  margin-top: 5px;
}

.task-details .title img:hover {
  cursor: pointer;
  opacity: 0.3;
}

.task-details hr {
  margin: 17px 0px !important;
}

.task-details label {
  display: block;
  font-size: 12px;
  font-family: "Raleway";
  font-weight: 900;
}

.task-details .main .top span,
.task-details .bottom .bot span,
.task-details .bottom .top .status span {
  display: block;
  margin-top: -5px;
  font-size: 12px;
  font-family: "Raleway";
  font-weight: 600;
}

.task-details .main,
.task-details .bottom {
  display: flex;
  flex-direction: column;
  width: auto;
}

.task-details .main .date :first-child,
.task-details .bottom .date :first-child {
  margin-bottom: 4px;
}

.task-details .dates .hours {
  margin-top: 1px;
  font-size: 11px;
  color: gray;
}

.task-details .main .bot .members div {
  width: 30px !important;
  height: 30px !important;
}

.task-details .main .bot .members b {
  padding: 8px 9px;
  font-size: 10px;
  left: 15px;
}

.task-details .main .bot {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.task-details .members,
.task-details .status {
  width: 30%;
}

.task-details .dates {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.task-details .dates .date {
  width: 50%;
}

.task-details .main .bottom {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.task-details .date span {
  display: block;
  font-size: 12px;
  font-family: "Work Sans";
  font-weight: 500;
}

.task-details .bottom .top {
  display: flex;
  flex-direction: row;
}

.task-details .comment {
  margin-top: 25px;
}

@media only screen and (max-width: 600px) {
  .popup-background {
    height: 100%;
  }

  .popup {
    width: 85%;
  }

  .task-details label {
    margin-top: 10px;
  }

  .task-details .main .bot {
    width: 100%;
    flex-direction: column;
    margin-top: 15px;
  }

  .task-details .main .members,
  .task-details .bottom .status {
    width: 100%;
  }

  .task-details .main .dates,
  .task-details .bottom .dates {
    margin-top: 15px;
    width: 100%;
  }

  .task-details .bottom .top {
    flex-direction: column;
  }
}
