.error404-container {
  text-align: center;
  font-family: Raleway;
}

.error404-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  max-width: 90%;
  margin-top: 100px !important;
}

.error404-container h1,
.error-container h1 {
  margin-top: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.error404-container h2,
.error-container h2 {
  font-size: 19px;
  font-weight: 700;
  color: rgb(107, 107, 107);
  margin-bottom: 40px;
  text-transform: uppercase;
}

.link-button {
  font-weight: 700;
  font-size: 15px;
  color: #36b274 !important;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #36b274;
  border-radius: 10px !important;
  padding: 10px 40px 8px 40px;
  cursor: pointer;
  text-transform: uppercase;
}

.error-container {
  margin: auto;
  text-align: center;
  margin-top: 150px;
}
.error-container div:nth-child(1) {
  display: inline-block;
}

.error-container div:nth-child(2) {
  height: 260px;
  width: 400px;
  max-width: 80%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.error-container img {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  max-width: 90%;
}
