@media screen and (max-width: 768px) {
  .animal-table tr td:not(:nth-child(2)):not(:first-child) {
    font-size: 0px !important;
    padding: 0px !important;
  }

  .animal-table tr > td:nth-child(6) > span {
    position: relative;
    left: 100px;
  }
}

@media screen and (max-width: 508px) {
  .animal-table td {
    font-size: 12px !important;
    padding: 10px !important;
    vertical-align: middle;
  }

  .animal-table tr td:not(:nth-child(2)):not(:first-child) {
    font-size: 0px !important;
    width: 0px !important;
    max-width: 0px !important;
    min-width: 0px !important;
    padding: 0px !important;
  }

  .animal-table tr > td:nth-child(6) > span {
    position: relative;
    left: -40px;
  }

  .animal-table tr > td:last-child > div {
    position: relative;
    left: -20px;
  }
}
