.task-form .popup {
  width: 800px;
  max-width: 90%;
  margin-top: 100px;
  background-color: transparent;
  box-shadow: none;
}

.task-form .popup .schedule {
  margin-top: 30px;
}

.task-form label {
  margin-bottom: 20px;
  width: 100%;
  height: initial;
  padding: 13px 15px;
  text-align: left;
  margin-top: 3px;
}

.task-form .close {
  position: relative;
  text-shadow: none;
  opacity: 1;
  transform: translateY(5px);
}

.task-form .close span {
  font-size: 12px;
  text-shadow: none;
  color: #000000;
}

.task-form #react-select-2-input {
  margin: 0 !important;
}

.task-form .task-form-select {
  margin-bottom: 24px !important;
}

.task-form .css-xp4uvy {
  font-family: "Raleway";
  font-size: 12px !important;
  font-weight: 600;
  color: black;
}

.lbl-text {
  font-family: Work Sans !important;
  color: #000000 !important;
}

@media only screen and (max-width: 800px) {
  .task-form .popup {
    width: 90%;
  }
}
