.avatarCounter {
  width: 35px;
  height: 35px;
  display: inline-block;
  position: relative;
}

.avatarCounter b {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 9px 10px;
  font-size: 12px;
  font-family: "Work Sans";
  background-color: #ebedf0;
}

@media only screen and (max-width: 800px) {
  .avatarCounter {
    width: 10px !important;
    height: 10px !important;
  }
}
