.dropdown-menu {
  padding: 0 !important;
  border-radius: 5px !important;
}

.dropdown-item {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 700 !important;
  padding: 7px 15px !important;
  border-bottom: 1px solid #f2f3f4 !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background: #f2f3f4 !important;
  color: black !important;
}

.dropdown-menu a:hover {
  opacity: 1 !important;
}

.dropdown-toggle {
  background: none;
  border: none;
  content: "" !important;
  font-size: 0px !important;
}

.dropdown-toggle:focus {
  outline: 0 !important;
}
