.form {
  padding-bottom: 80px !important;
  overflow: hidden;
}

.form input,
.form .select,
.form textarea,
.form .form-group {
  margin-bottom: 20px !important;
}

.custom-input,
.form input {
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  padding: 13px 15px;
  width: 100%;
  font-family: "Raleway";
  font-size: 12px !important;
  font-weight: 600;
  color: black;
}

.form input:focus {
  outline: none;
  border: 1.2px solid #36a890;
  padding: 12.8px 14.8px;
}

.form input::placeholder,
.form textarea::placeholder {
  color: #9e9e9e;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Raleway";
}

.form textarea {
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  padding: 13px 15px;
  width: 100%;
  font-family: "Raleway";
  font-size: 12px !important;
  font-weight: 600;
  color: black;
}

.form textarea:focus {
  outline: none;
  border: 1.2px solid #36a890;
  padding: 12.8px 14.8px;
}

.form .form-group {
  float: left;
  width: 100%;
}

.form .left {
  margin: 0px !important;
  width: calc(50% - 10px);
  float: left;
}

.form .right {
  margin: 0px !important;
  width: calc(50% - 10px);
  float: right;
}

.form .actions-container {
  padding-top: 15px !important;
  float: right;
}

.form .actions-container button:first-child {
  margin-right: 20px !important;
}

.image-content {
  display: inline-block;
  position: relative;
}

.image-content button {
  text-transform: uppercase;
  font-family: "Raleway";
  font-size: 11px !important;
  font-weight: 600;
  color: #9e9e9e;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 0;
  position: absolute;
  padding-top: 4px;
}

.form img {
  object-fit: cover;
  object-position: 100% 0;
}

.form img,
.form label {
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 600;
  width: 110px;
  height: 110px;
  text-transform: uppercase;
  background-color: #fff;
}

.form img:hover,
.form label:hover {
  cursor: pointer;
}

.form label {
  color: #9e9e9e;
  text-align: center;
  padding: 39px 10px;
}

.right-70 {
  width: calc(100% - 130px);
  float: right;
}

.left-30 {
  width: 100px;
  float: left;
}

@media only screen and (max-width: 650px) {
  .page {
    width: 80% !important;
    padding: 50px 0 !important;
  }
}

@media only screen and (max-width: 400px) {
  .form .left,
  .form .right {
    float: none;
    width: 100%;
  }

  .form-group .left {
    margin-bottom: 20px !important;
  }

  .form h1 {
    font-size: 22px !important;
    line-height: 25px !important;
  }
}
