.action-btn {
  float: right;
}

.search-container {
  background: white;
  display: inline-block;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  width: 250px;
  height: 35px;
  max-width: 100%;
  margin-bottom: 20px;
  vertical-align: bottom;
}

.search-container input {
  border: none;
  float: right;
  width: calc(100% - 50px);
  margin-right: 5px;
  margin-top: 1px;
  height: 30px;
  font-size: 12px;
}

.search-container input:active,
.search-container input:focus {
  outline: none;
}

.search-container img {
  margin-top: 5px;
  max-width: 20px;
  margin-left: 10px;
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .table td {
    font-size: 12px !important;
  }

  .search-container {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .table td {
    font-size: 12px !important;
    padding: 10px !important;
    vertical-align: middle;
  }

  .table tr td:first-child + td + td + td {
    font-size: 0px !important;
  }

  .table tr td:first-child + td + td + td span {
    line-height: 30px !important;
    vertical-align: bottom;
  }
}

@media screen and (max-width: 508px) {
  .table td {
    font-size: 12px !important;
    padding: 10px !important;
    vertical-align: middle;
  }

  .table tr td:first-child + td + td {
    font-size: 0px !important;
    width: 0px !important;
    max-width: 0px !important;
    min-width: 0px !important;
  }
}
