#loading {
  -webkit-animation: rotation 0.7s infinite linear;
  animation: rotation 0.7s infinite linear;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 150px;
  display: block;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
