.popup-background {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  position: fixed;
  z-index: 1100;
}

.popup {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  margin-top: 200px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px #3d3d3d;
  overflow: hidden;
  z-index: 1500;
}

.popup p {
  font-size: 14px;
  margin-top: 15px;
}

.popup-buttons {
  float: right;
  margin-top: 10px;
}

.popup button {
  background: none;
  border: none;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 600;
}

.popup button:hover {
  opacity: 0.7;
}
