.info {
  background-color: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  padding: 40px;
}

.info {
  font-size: 14px;
}

.info p {
  font-size: 10px;
  font-weight: bold;
  color: #b3b3b3;
  text-transform: uppercase;
  margin: 0;
}

.info .number-format {
  font-family: Work Sans;
}
.info > div:first-child {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  width: 100%;
}

.info-field {
  padding-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .info {
    display: inline-block;
    width: 100%;
  }

  .info > div:first-child {
    display: initial;
    padding-right: 0;
  }
}
