.card-container .avatar {
  width: 85px;
  height: 85px;
  border-radius: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card-container {
  min-width: 250px;
  display: table;
  text-align: center;
  background-color: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  padding: 40px;
  font-family: Raleway;
  position: relative;
}

.card-container .status {
  border: 1px solid;
  border-radius: 30px;
  font-size: 12px;
  padding: 5px 20px;
}

.card-container p {
  font-size: 13px;
}

.card-container .btn-group {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media only screen and (max-width: 800px) {
  .card-container {
    min-width: 100%;
  }
}
