.schedule {
  background: white;
  width: 800px;
  max-width: 100%;
  height: 500px;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.schedule .tbody-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 115px);
}

.schedule .tbody-wrapper::-webkit-scrollbar {
  z-index: 10px;
  width: 5px;
}

.schedule .tbody-wrapper::-webkit-scrollbar-track {
  background: white !important;
}

.schedule .tbody-wrapper::-webkit-scrollbar-thumb {
  background: gray !important;
  border-radius: 2px;
}

.schedule .header {
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
  height: 53px;
}

.schedule .header h6 {
  font-family: Raleway !important;
  font-weight: 600;
  display: inline-block;
  margin: 17px;
  min-width: 170px;
}

.schedule .header button {
  background: none;
  border: none;
}

.schedule .header button:focus,
.schedule .header button:active {
  background: none;
  border: none;
  outline: none;
}

#clear-schedule {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 12px !important;
  color: #e52222;
  padding: 3px 7px !important;
}

#finish-schedule {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 12px !important;
  color: #4db726;
  padding: 3px 7px !important;
}

.schedule table {
  width: 100%;
}

.schedule table th:first-child,
.schedule table td:first-child {
  width: 9%;
}

.schedule table td {
  width: 13%;
}

.schedule table td:hover {
  background: #f5f5f5;
}

.schedule table td:active {
  background: #d8d8d8;
}
.schedule table td[disabled] {
  background: white;
}

.schedule table td:first-child:hover,
.schedule table td:first-child:active {
  background: inherit;
}

.schedule table td,
.schedule table th {
  height: 70px;
  font-family: Raleway;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  text-align: center;
}

/* Last column (Sunday) */
.schedule table td:last-child,
.schedule table th:last-child {
  border-right: none !important;
}

/* First column (Hours) */
.schedule table td:first-child,
.schedule table th:first-child {
  font-weight: 700;
  font-family: Roboto;
  font-size: 13px;
}

/* Table header (Days) */
.schedule table thead th {
  border-right: none !important;
  height: 60px;
}

/* Table header Text (Ex: Seg 29/04) */
.schedule table thead th span {
  margin: 0px !important;
  padding: 0px !important;
  display: block;
}

/* Table header day of the week (Ex: Seg) */
.schedule table thead th span:first-child {
  font-size: 14px;
  font-weight: 700;
}

/* Table header day of the month (Ex: 29/04) */
.schedule table thead th span:last-child {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
}

.schedule table tbody tr:last-child td {
  border-bottom: none !important;
}

.schedule .selected-block,
.schedule .selected-block:hover,
.schedule .selected-block:active {
  background: #2ae07f !important;
}

.schedule .blocked-block,
.schedule .blocked-block:hover,
.schedule .blocked-block:active {
  background: #e5e5e5;
}

.schedule .static-block,
.schedule .static-block:hover,
.schedule .static-block:active {
  background: white;
}
