.statistic-panel {
  background: white;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  width: 600px;
  max-width: 100%;
  height: 400px;
  margin: auto;
  margin-bottom: 40px;
}

.statistic-header {
  position: relative;
  font-family: Raleway;
  padding: 15px;
  border-bottom: 1px solid #9e9e9e;
  font-size: 12px;
  font-weight: 600;
}

.statistic-header .statistic-selector {
  width: 150px;
  position: absolute;
  right: 7px;
  top: 5px;
}

.statistic-content {
  width: 100%;
  height: 85%;
}

.statistic-no-data:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.statistic-no-data {
  height: 100%;
  line-height: 100%;
  text-align: center;
}

.statistic-no-data span {
  vertical-align: middle;
}

@media only screen and (max-width: 850px) {
  .statistic-panel {
    width: 100%;
  }
}
