.table {
  width: 100%;
  border-collapse: separate !important;
  border-spacing: 0 10px !important;
  font-family: Raleway;
  margin-bottom: 30px;
}

.table tr td {
  background: white;
  padding: 10px 20px;
  border-top: 1px solid #c9caca;
  border-bottom: 1px solid #c9caca;
  font-size: 14px !important;
  vertical-align: middle;
  cursor: pointer;
}

.table tr:hover > td {
  background: #f5f5f5 !important;
}

.table tr td:first-child {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-left: 1px solid #c9caca;
}

.table tr td:last-child {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 1px solid #c9caca;
}

.table tr td a {
  color: inherit;
  text-decoration: none;
}

.table tr td a:hover {
  color: inherit;
  text-decoration: none;
  opacity: 0.7;
}

.table-section {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  font-family: Raleway;
  color: #444444;
}
