.tab-menu {
  background-color: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tab-menu ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 40px;
}

.tab-menu ul li {
  display: inline;
  list-style: none;
  padding: 15px 0;
  font-family: Raleway;
  font-weight: bold;
  color: #8d8d8d;
  text-transform: uppercase;
  font-size: 13px;
}
.tab-menu ul li:last-child {
  display: none;
}

.tab-menu ul .active {
  color: #4eb44c;
}

.tab-menu ul li:hover {
  cursor: pointer;
  color: #575757;
}

.tab-menu ul .active:hover {
  cursor: initial;
  color: #4eb44c;
}

.notifications-badge {
  background: #e02626;
  display: inline-block;
  color: white;
  height: 16px;
  width: 16px;
  text-align: center;
  font-size: 10px;
  border-radius: 50px;
  padding-right: 1px;
  margin-left: 5px;
  font-family: "Roboto";
}

@media only screen and (max-width: 800px) {
  .tab-menu {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .tab-menu ul {
    justify-content: flex-end;
    margin: 0;
    padding: 0 40px;
  }

  .tab-menu ul li:not(:last-child) {
    display: none;
  }

  .tab-menu ul li:last-child {
    display: initial;
  }
}
