/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 22px;
  height: 18px;
  right: 30px;
  top: 19px;
}

.bm-burger-button button:focus {
  outline: none !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
  border: 1px solid #2d2d2d;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  opacity: 0.7;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross-button button {
  display: none;
}

/* Color/shape of close button cross */
.bm-cross {
  display: none;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  top: 55px;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #3d3d3d;
  padding: 15px;
  font-size: 1em;
  font-family: "Raleway", Arial, sans-serif;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin-bottom: 15px;
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.bm-item:hover {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  font-weight: 500;
  cursor: pointer;
}

.bm-burger-button button {
  font-size: 0px !important;
}

.bm-menu a:active,
.bm-menu a:focus,
.bm-item:active,
.bm-item:focus {
  outline: none;
}

.bm-item img {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 55px;
}

.nav {
  background: #2d2d2d;
  width: 100%;
  height: 55px;
  z-index: 500 !important;
  position: fixed !important;
  top: 0px;
}

.nav img {
  margin-left: 20px;
}

hr {
  background: gray;
  margin: 30px 0px !important;
  display: block;
}

hr:focus {
  outline: none !important;
}

.nav img {
  margin-left: 20px;
}

.profile-card {
  width: 100%;
  height: 55px;
}

.profile-card a {
  text-decoration: none;
  color: inherit;
}

.profile-card a:hover {
  opacity: 0.7;
  text-decoration: none;
  color: inherit;
}

.profile-card p {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
  margin-top: 10px;
}

.profile-card p #nav-user-name {
  font-size: 15px;
  font-weight: 600;
}

.profile-card p #nav-user-type {
  font-size: 13px;
  display: block;
  margin-top: -5px;
}
