.profile-info {
  display: flex;
  justify-content: space-between;
}

.profile-info .tab-menu {
  width: 600px;
}

.profile-info .main {
  margin-left: 35px;
  font-family: Raleway;
}

.profile-task tr td {
  font-size: 13.5px !important;
}

.profile-info .task-details .main {
  margin-left: 0;
  width: auto;
}

@media only screen and (max-width: 800px) {
  .profile-info {
    display: initial;
    width: 100%;
  }

  .profile-info .main {
    margin-left: 0;
    margin-top: 35px;
  }
}
