.reinforcement-popup {
  position: relative;
  width: 380px;
  padding-bottom: 30px;
}

.reinforcement-popup h6 {
  max-width: 230px;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}

.reinforcement-popup #loading {
  margin: auto;
  width: 60px;
  height: 60px;
}

.reinforcement-option {
  position: relative;
  margin: auto;
  margin-top: 15px;
  width: 90%;
  border: 1px solid gray;
  padding: 13px;
  border-radius: 5px;
}

.reinforcement-option span {
  font-size: 12px;
  font-family: "Raleway";
  font-weight: 700;
  margin-left: 20px;
}

.reinforcement-popup #close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0.5;
}

.reinforcement-option .btn-confirm {
  font-size: 12px !important;
  float: right;
  min-width: 80px;
}

.reinforcement-option button:disabled {
  background: gray !important;
}
