.shelters-details {
  width: 450px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  overflow: hidden;
  border: 1px solid #a2a2a2;
  border-radius: 10px;
  padding: 20px 30px;
  background-color: #fff;
}

.shelters-details .top {
  display: flex;
  justify-content: space-between;
}

.shelters-details .top h4 {
  margin-bottom: 5px;
}

.shelters-details .top span {
  font-size: 13px;
  margin-top: 15px;
  font-weight: 500;
}

.shelters-details .bot {
  display: flex;
  flex-flow: row;
  font-family: Roboto;
  font-size: 13px;
}

.shelters-details .bot .left,
.shelters-details .bot .right {
  margin-top: -15px;
  display: flex;
  flex-flow: column;
}

.shelters-details .bot .left span,
.shelters-details .bot .right span {
  margin-top: 7px;
}

.shelters-details .bot .left {
  font-weight: 600;
}

.shelters-details .bot .right {
  padding-left: 15px;
}

@media only screen and (max-width: 600px) {
  .shelters-details {
    width: 330px;
    height: 240px;
    margin: 25px 0px;
  }

  .shelters-details .bot .left span,
  .shelters-details .bot .right span {
    font-size: 12px;
  }
}
