.module-tab {
  background-color: #fff;
  min-width: 175px;
  min-height: 30px;
  line-height: 35px;
}

.module-tab:hover {
  cursor: pointer;
  color: gray;
}

.module-tab span {
  margin-left: 20px;
}

.module-tab.active {
  border-left: 3px solid #55cf97;
  font-weight: 600;
}

.module-tab.active span {
  margin-left: 17px;
}
