<!DOCTYPE html>
<html>
  <head>
    <title>Cancelámos o pedido de reforço</title>
  </head>

  <body>
    <div>
      <h3>Ola {{ name }},</h3>
      <p>
        O abrigo virtual cancelou o anterior pedido de reforço de voluntários.
      </p>
      <br />
      <p>Cumprimentos</p>
    </div>
  </body>
</html>
