<!DOCTYPE html>
<html>
  <head>
    <title>O seu horário foi alterado</title>
  </head>

  <body>
    <div>
      <h3>Olá {{ name }},</h3>
      <p>
        O seu horário de funcionamento no AbrigoVirtual foi alterado.
      </p>
      <br />
      <div>
        Cumprimentos
      </div>
    </div>
  </body>
</html>
