<!DOCTYPE html>
<html>
  <head>
    <title>Esqueceu a palavra-passe</title>
  </head>

  <body>
    <div>
      <h3>Ola {{ name }},</h3>
      <p>
        Fez um pedido para recuperar a sua palavra-passe, para tal, use este
        <a href="{{ url }}">link</a> para prosseguir com a recuperação.
      </p>
      <br />
      <p>Cumprimentos</p>
    </div>
  </body>
</html>
