<!DOCTYPE html>
<html>
  <head>
    <title>Nova conta - AbrigoVirtual</title>
  </head>

  <body>
    <div>
      <h3>Bem vindo ao AbrigoVirtual!</h3>
      <p>
        A sua conta de acesso ao AbrigoVirtual foi criada. Poderá se autenticar
        na plataforma com o seu email e com a seguinte password: {{ password }}
      </p>
      <br />
      <div>
        Cumprimentos
      </div>
    </div>
  </body>
</html>
