<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>

    <style>
      .task > div{
        margin: 10px 5px;
      }

      .task .title {
        height: 20px;
        font-size: 14px;
      }

      .task hr {
        margin: 17px 0px !important;
      }

      .task label {
        display: block;
        font-size: 12px;
        font-family: "Raleway";
        font-weight: 900;
      }

      .task .dates {
        display: flex;
        justify-content: space-between;
        width: auto;
      }

      .task .dates > .date{
        margin-right: 10px !important;
      }

      .task .dates .hours {
        margin-top: 1px;
        font-size: 11px;
        color: gray;
      }

      .task .dates {
        display: flex;
        flex-direction: row;
        width: 70%;
      }

      
      .task .date span,
      .task .bottom .top .status span {
        display: block;
        font-size: 12px;
        font-family: "Work Sans";
        font-weight: 500;
      }
    </style>
  </head>

  <body>
    <div>
      <h3>Ola {{ name }},</h3>
      <p>
        {{ message }}

        Abaixo encontra-se a informação da tarefa mais promenorizada:
        <br />
        <br />
        <hr/>
        <div class="task">
            <div class="title">
                <span style="color: {{color}}; font-size: 15px; margin-right: 7px">&#9679;</span>
              <b style="margin-left: 5px">{{title}}</b>
            </div>
            
            <div class="description">
              <label>Descrição</label>
              <span>{{description}}</span>
            </div>
            <div class="dates">
              <div class="date">
                  <label>Data de início</label>
                  <span>{{startDate}}</span>
                  <span class="hours">
                    {{startHour}}
                  </span>
              </div>
              <div class="date">
                <label>Data de conclusão</label>
                <span>{{endDate}}</span>
                <span class="hours">
                  {{endHour}}
                </span>
              </div>
            </div>
            <div class="bottom">
              <div class="top">
                <div class="status">
                  <label>Estado</label>
                  <span style="color: {{color}}">
                    {{status}}
                  </span>
                </div>
                </div>
              </div>
            </div>
          </div>
          A tarefa pode ser visualizada no seu
          <a href="{{ profileUrl }}">perfil</a> ou na
          <a href="{{ tasksUrl }}">lista de tarefas</a>.
      <hr/>       
      </p>
      <br />
      <br />
      <p>Cumprimentos,<br/>Abrigo Virtual</p>
    </div>
  </body>
</html>
