<!DOCTYPE html>
<html>
  <head>
    <title>O seu horário foi alterado</title>
  </head>

  <body>
    <div>
      <h3>Olá,</h3>
      <p>
        Obrigado por aceitares o pedido de reforço! O teu horário é dia {{ day }} de {{ month }}, das {{ startHour }} às {{ endHour }}.
      </p>
      <br />
      <div>
        Cumprimentos
      </div>
    </div>
  </body>
</html>
