<!DOCTYPE html>
<html>
  <head>
    <title>Pedido de reforço</title>
  </head>

  <body>
    <div>
      <h3>Ola {{ name }},</h3>
      <p>
        O abrigo virtual fez-te um pedido de reforço de voluntários. Visita o
        seguinte
        <a href="{{ url }}">link</a> para saber mais informação.
      </p>
      <br />
      <p>Cumprimentos</p>
    </div>
  </body>
</html>
