<!DOCTYPE html>
<html>
  <head>
    <title>Palavra-passe recuperada</title>
  </head>

  <body>
    <div>
      <h3>Olá {{ name }},</h3>
      <p>
        A sua palavra-passe foi recuperada com sucesso, pode agora iniciar a
        sessão com a nova palavra-passe.
      </p>
      <br />
      <div>
        Cumprimentos
      </div>
    </div>
  </body>
</html>
