.finish-quarentine-popup .popup {
  width: 300px;
  margin-top: 200px;
}

.finish-quarentine-popu h6 {
  text-align: center;
  padding-bottom: 15px;
}

.finish-quarentine-popup textarea {
  resize: none;
  width: 100%;
  height: 100px;
  vertical-align: top;
  text-align: left;
}

.finish-quarentine-popup .form {
  padding-bottom: 0 !important;
}

.finish-quarentine-popup .popup-buttons {
  margin-top: 30px;
}

@media (max-width: 400px) {
  .finish-quarentine-popup .popup {
    width: 350px;
  }
}

@media (max-width: 350px) {
  .finish-quarentine-popup .popup {
    width: 300px;
  }
}
