.relationships-content {
  padding-top: 10px;
}
.relationships-header {
  line-height: 13px;
}

.relationships-header span {
  font-size: 13px;
  text-transform: uppercase;
  color: #575757;
  font-weight: 700;
}

.create-relationship-button {
  background-color: transparent;
  font-size: 13px !important;
  color: #269547 !important;
  border: none;
  float: right;
  font-weight: 700;
}

.create-relationship-button:hover {
  text-decoration: none;
  opacity: 0.8;
}

.create-relationship-button:hover a {
  color: inherit;
}

.create-relationship-button span {
  font-family: "Roboto";
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}
