.module-container {
  display: table;
  font-family: Raleway;
  float: left;
}

.module-container ul {
  list-style-type: none;
  font-size: 15px;
  border: 1px solid #9e9e9e;
  background: #9e9e9e;
  border-radius: 5px;
  overflow: hidden;
}

.module-container ul li:not(:first-child) {
  padding-top: 1px;
}

.statistic-side {
  float: right;
  width: 500px;
}

@media only screen and (max-width: 850px) {
  .module-container {
    width: 100%;
  }

  .statistic-side {
    width: 100%;
  }
}
