.finish-task-popup .popup {
  width: 400px;
  margin-top: 130px;
}

.finish-task-popup h6 {
  text-align: center;
  padding-bottom: 15px;
}

.finish-task-popup textarea {
  resize: none;
  width: 100%;
  height: 100px;
  vertical-align: top;
  text-align: left;
}

.finish-task-popup .form {
  padding-bottom: 0 !important;
}

@media (max-width: 400px) {
  .finish-task-popup .popup {
    width: 350px;
  }
}

@media (max-width: 350px) {
  .finish-task-popup .popup {
    width: 300px;
  }
}
