.quarentine-popup {
  width: 360px;
  padding: 20px 20px;
}

.quarentine-details > img {
  width: 15px;
  height: 15px;
  margin-top: -20px;
  margin-right: -8px;
}

.quarentine-details .top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 35px;
  margin-top: 10px;
}

.quarentine-details .animal,
.quarentine-details .status,
.quarentine-details .cause {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}

.quarentine-details .cause {
  margin-right: 0px;
}

.quarentine-details .animal label,
.quarentine-details .status label,
.quarentine-details .cause label,
.quarentine-details .date label,
.quarentine-details .description label {
  font-size: 12px;
  font-family: "Raleway";
  font-weight: 900;
}

.quarentine-details .animal span,
.quarentine-details .status span,
.quarentine-details .cause span,
.quarentine-details .description span {
  font-size: 11px;
  font-weight: 600;
  font-family: "Raleway";
}

.quarentine-details .animal .avatar-span {
  margin-top: -5px;
}

.quarentine-details .date {
  display: flex;
  flex-direction: column;
}

.quarentine-details .date span {
  font-size: 12px;
  font-family: "Work Sans";
  font-weight: 500;
  padding-bottom: -20px;
}

.quarentine-details hr {
  margin: 30px 0px !important;
}

.quarentine-details .description {
  display: flex;
  flex-direction: column;
}
