.calculate {
  width: 1000px !important;
}

.calculate .panel {
  background: white;
  width: 430px;
  margin: auto;
  padding: 30px;
  border: 1px solid #d4d6d7;
  border-radius: 10px;
  font-family: Raleway;
  text-align: center;
}
.calculate .panel h1 {
  font-size: 24px;
  font-weight: 800;
}

.calculate .panel hr {
  opacity: 0.5;
}

.calculate .panel p {
  margin: auto;
  font-size: 13px;
  max-width: 240px;
  font-weight: 700;
}

.calculate .panel button {
  margin-top: 20px;
  text-transform: uppercase;
  background: #36a890;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 13px !important;
}

.calculate .panel .progress {
  height: 30px;
  width: 100%;
  background: #9e9e9e;
  margin-top: 10px;
}

.calculate .panel .progress .inner {
  height: 30px;
  background: #36a890;
}

.calculate .during .content {
  padding: 20px 10px;
}

.calculate .during .content b {
  font-size: 14px;
}

.calculate .side-panel-container {
  overflow: hidden;
}

.calculate .after {
  float: left;
}

.calculate .info {
  float: right;
  background: none;
  border: none;
  padding: 0px;
  width: 520px;
  font-family: Raleway;
}

.calculate .after p {
  font-family: "Work Sans";
  color: #36a890;
  font-size: 24px;
  font-weight: 500;
}

.calculate .after .cell {
  width: 33%;
  display: inline-block;
  border-right: 1px solid gray;
}

.calculate .after .cell:last-child {
  border-right: none;
}

.calculate .after .cell b {
  font-size: 12px;
}

.calculate .after .cell p {
  color: gray;
  font-size: 14px;
}

.calculate .after .cell .neg {
  color: #9b2828;
  font-weight: 700;
}

.calculate .after .cell .pos {
  color: #36a890;
  font-weight: 700;
}

.calculate .info b {
  font-size: 12px;
}

.calculate .info .change {
  background: white;
  padding: 10px;
  border: 1px solid #d4d6d7;
  border-radius: 5px;
  margin-top: 10px;
}

.calculate .info .change b {
  margin-left: 20px;
}

.calculate .info .change span {
  margin-right: 150px;
  margin-top: 5px;
  text-align: left;
  float: right;
}

.calculate .after button {
  margin-top: 20px;
  text-transform: uppercase;
  background: #36a890;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 13px !important;
  float: right;
}

@media only screen and (max-width: 1230px) {
  .calculate .after {
    width: 100%;
    margin-bottom: 30px;
  }
}
